.App {
  text-align: center;
  border: 1px solid;
  border-radius: 5px;
  width: 80%;
  margin: 20% auto auto auto;
  background: #6086be;
  color: white;
}
.userInput {
  margin-top: 15px;
  border-radius: 5px;
}